<header>
    <nav>
        <a href="/">TreeFi</a>
        <ul>
            <li><a href="/authors">Authors</a></li>
            <li><a href="/authors/new">Authors</a></li>
        </ul>
    </nav>
</header>